*.db

bot/node_modules
bot/config/agent.js
bot/config/agent.js
bot/config/database.js
bot/config/misc.js
bot/config/server.js
bot/config/telegram.js
migrate.js

agent/config/synaptic.py
*.session
*.session-journal
__pycache__

agent/.venv/
env
